[submodule "src/Arduino-Temperature-Control-Library"]
	path = src/Arduino-Temperature-Control-Library
	url = https://github.com/milesburton/Arduino-Temperature-Control-Library.git
[submodule "src/makeEspArduino"]
	path = src/makeEspArduino
	url = https://github.com/plerup/makeEspArduino.git
